.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.wallpapersafari.com/50/32/uD27pe.png");
  background-size: cover;
  font-size: xx-large;
  font-style:italic ;

}

button{
  height: 100px;
  width: 100px;
  background-color:  #9f2be2;
  border-radius:40px;
  font-size: 80px;
}

button:hover{
  background-color:antiquewhite;
  cursor: pointer;
}

h1:hover{
  background-color: #5830b5;
  color:#A0DAA9;
  
}